<div class="row" style="margin-top:110px;">
    <h1 style="color: blue;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-left: 500px;">Our API Client</h1><br>
    <br>
    <br>
</div>

<div id="content" style="margin-left: 50px;">
    <marquee behaviour="scroll" direction="left" scrollamount="5" loop=5>
        <img src="assets/images/Ocean-oil-field.jpg" class="images" />
        <img src="assets/images/COOEC.png" class="images" />
        <img src="assets/images/Singh-Company.png" class="images" />
        <img src="assets/images/ADPICO.png" class="images" />
        <img src="assets/images/Al-Gharbia.jpg" class="images" />
        <img src="assets/images/Canadian.png" class="images" />
        <img src="assets/images/CETIM.png" class="images" />
        <img src="assets/images/China.png" class="images" />
        <img src="assets/images/CNOOC-LIMITED.png" class="images" />
        <img src="assets/images/COOEC.png" class="images" />
        <img src="assets/images/Toshiba.png" class="images" />
        <img src="assets/images/TARGET.png" class="images" />
        <img src="assets/images/Spades-Sanco.png" class="images" />
        <img src="assets/images/Pan-Gulf-Valve-Services.png" class="images" />
        <img src="assets/images/Rockpecker-Limited.png" class="images" />
        <img src="assets/images/Master-Tech.png" class="images" />
    </marquee>
</div>
<router-outlet>

</router-outlet>
<app-services></app-services>